---
layout: empty
---
{% if site.data.events == null %}
  Es gibt noch keine Events.
{% endif %}
{% for event in site.data.events %}
<div class="row">
  <div class="twelve columns event panel">
    <div class="content">
      <h3>
      {{ event.title }}
      </h3>
      <p class="date">am {{ event.date | date: "%b %-d, %Y" }} um {{ event.date | date: "%H:%m" }}</p>
      <p class="address">{{event.address}}</p>
      <img src="{{event.image}}">
      <div class="description">
        {{event.description}}
      </div>
    </div>
  </div>
</div>
{% endfor %}
